/*Global*/
body {
    margin: 0;
    font-family: serif;
    transition: background 0.2s ease-out;
}

.content {
    width: 70%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

#main h1 {
    border-bottom: 3px solid #37694c;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    width: 200px;
}

#main h2 {
    border-bottom: 3px solid #37694c;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

a {
    text-decoration: none;
}

/*header & footer*/
header, footer {
    background: #37694c;
    padding: 1px;
}

header a, footer a {
    color: white;
}

header {
    background-image: url("../images/header.jpg");
    background-size: cover;
    text-shadow: 4px 7px 5px #000;
    border-bottom: 3px solid #37694c;
    padding-bottom: 0;
}


header .content {
    margin-bottom: 0;
    padding-top: 5px;
}

header #title {
    font-size: 23px;
}

header img {
    padding-right: 25px;
    height: 60px;
}

header #logo {
    float: left;
}

header #zjzw_logo {
    float: right;
}

footer {
    color: white;
    padding: 20px 0;
}

footer #link a {
    padding: 0 5px;
}

footer a:hover {
    text-shadow: 3px 3px 7px #000;
}

/*nav*/
nav {
    letter-spacing: -5px
}

nav ul {
    /*list-style: none;*/
    /*display: inline;*/
    margin: 0;
    padding-top: 15px;
}

nav li {
    width: 140px;
    display: inline-block;
    padding: 4px 0px;
    border: 1px solid #969696;
    text-shadow: 0 1px 5px #000;
    border-bottom: 0;
    letter-spacing: normal;
    background-color: rgba(67, 82, 59, 0.25);
    font-size: large;
    /*letter-spacing: -5px;*/
}

nav li:hover {
    background: rgba(34, 30, 30, 0.55);
}

nav .now {
    background: rgba(34, 30, 30, 0.55);
}

nav a {
    letter-spacing: -5px;
    display: block;
    text-align: center;
}

nav .menuitem {
    display: inline-block;
    /*float: left;*/
}

nav .submenu a {
    letter-spacing: 0;
}

.submenu {
    position: absolute;
    z-index: 1;
}

.menuitem .submenu {
    display: none;
}

.menuitem:hover .submenu {
    display: block;
}

.submenu a {
    /*display: inline-block;*/
    width: 140px;
    padding: 4px 0px;
    border: 1px solid #969696;
    text-shadow: 0 1px 5px #000;
    border-bottom: 0;
    letter-spacing: normal;
    background-color: rgba(67, 82, 59, 0.25);
    font-size: large;
    /*letter-spacing: -5px;*/
}

.submenu a:hover {
    background: rgba(34, 30, 30, 0.55);
}

/*Main*/
.inline_block {
    display: inline-block;
    text-align: center;
}

.module h1, .module h2 {
    color: #37694c;
    margin-top: 0;
    text-shadow: 1px 1px 3px #949393;
    text-align: center;
}

.module {
    margin-bottom: 18px;
    text-align: center;
}

#main a {
    color: black;
}

#main a:hover {
    color: #37694c;
}

/*div one*/

#one .inline_block {
    width: 50%;
}

#pic a {
    display: inline-block;
    width: 80%;
}

#pic img {
    width: 100%;
}

#one {
    margin-bottom: 50px;
}

#one ul {
    text-align: left;
    font-size: large;
    margin-left: 20%;
}

#one #web a {
    padding: 0 10px;
}


.right {
    position: absolute;
}

.pic_outer {
    position: relative;
}

.pic_cover {
    padding: 10px 0;
    background-color: rgba(0, 0, 0, .50);
    color: #FFFFFF;
    position: absolute;
    left: 0;
    bottom: 5px;
    margin: 0;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


/*div two*/

#two .inline_block {
    width: 33%;
}

#two ul {
    text-align: left;
    /*overflow: hidden;*/
    white-space: nowrap;
    /*text-overflow: ellipsis;*/
}

.q {
    font-size: 13px;
    line-height: 30px;
    padding-left: 8px;
    height: 26px;
    width: 175px;
    border: 1px solid #37694c;
    display: inline;
}

.sub {
    cursor: pointer;
    width: 50px;
    height: 30px;
    background: #37694c;
    border-radius: 4px;
    font-size: 15px;
    color: #fff;
}

.circle {
    display: block;
    position: relative;
    z-index: 1;
}

.circle div {
    display: inline-block;
    width: 35%;
}

.circle i {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 100%;
    cursor: default;
    display: inline-block;
    line-height: 4em;
    width: 4em;
}

/*Backtop*/
#backtop {
    width: 50px;
    height: 50px;
    background: #FFF;
    -webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, .28);
    box-shadow: 0 2px 7px rgba(0, 0, 0, .28);
    border-radius: 25px;
    position: fixed;
    bottom: 28px;
    right: 50px;
    text-align: center;
    color: #666;
    cursor: pointer;
    z-index: 750;
}

#backtop .fas {
    font-size: 30px;
    line-height: 50px;
    display: block;
}

/*sub ul*/
.subul {
    display: inline-block;
    line-height: 2;
}

.subul li {
    padding-left: 40px;
    font-size: large;
    text-align: left;
}

.subcircle div {
    width: 30%;
    margin-bottom: 30px;
    font-size: 25px;
}

.subinline li {
    display: inline-block;
    color: #37694c;
}

.subinline li ul li {
    color: black;
}

/*Responsive*/
@media only screen and (max-width: 1500px) {
    nav li, .submenu a {
        width: 120px;
    }
}

@media only screen and (max-width: 1340px) {
    .content {
        width: 95%;
    }
}

@media only screen and (max-width: 1024px) {
    nav li, .submenu a {
        width: 90px;
    }

    nav i {
        display: none !important;
    }

    .inline_block {
        display: block;
        width: 100% !important;
    }

    .right {
        float: none;
        position: relative;
    }

    #one ul {
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }
}

@media only screen and (max-width: 780px) {
    nav li, .submenu a {
        width: 70px;
    }

    header #title {
        font-size: unset;
    }

    nav li, .submenu a {
        font-size: unset;
    }

    nav ul {
        padding: 0;
    }

    header .content {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    header #logo {
        padding-left: 25px;
    }
}

@media only screen and (max-width: 520px) {
    header img {
        display: none;
    }

    nav li {
        border: unset;
        background-color: unset;
    }

    nav .now {
        background-color: unset;
    }

    .menuitem:hover .submenu {
        display: none !important;
    }

    #pic a {
        width: 100%;
    }

    #one ul {
        width: unset;
    }

    header .content {
        padding-top: 0px;
    }

    footer {
        padding: 5px 0;
    }

    #backtop {
        display: none !important;
    }

    .subul li {
        padding-left: unset;
    }

    .subcircle div {
        width: 100%;
    }

    .subinline li {
        display: list-item;
    }
}
